:root{

}

html {
  background: aliceblue;
}

html,body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
}
.left{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 25px;
  
}
.rightCont{
  height: 95%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.right{
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.heading{
  width: 100%;
  height: 15%;
  background: #0E374E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 15px;
}
.top{
  display: flex;
  font-size: xx-large;
  font-weight: bolder;
}
.bottom{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.body{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction:column ;
  gap: 25px;
}
.educationBlock,
.experienceBlock{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
}
.title{
  text-align: center;
  font-size: larger;
  font-weight: bold;
  padding: 10px;
  background: #D3D3D344;
 
}
form{
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 60%;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
}

.children {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dates {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.date {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
}

label {
  font-weight: bold;
}

input:not(#startDate, #endDate) {
  width: 100%;
}

#startDate, #endDate {
  width: 100%;
}

input {
  border-radius: 5px;
  border: none;
  outline:none;
  background: #D3D3D344;
  transition: outline 50ms ease-in-out ;
  height: 30px;
  
}

input:hover,
input:focus {
  outline: 3px solid darkblue;
}



